@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scroll-container {
  overflow-x: auto;
  scrollbar-width: none;
  /* Firefox */
}

/* Para ocultar a barra de rolagem no Chrome, Safari e outros navegadores baseados em WebKit */
.scroll-container::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari e Opera */
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #8b94f9;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}